<footer class="page-footer">
<div class="footer-nav-menus">
	<nav class="metrovka-menu">
		<h4></h4>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
	<nav class="partnership-menu">
		<h4></h4>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
	<nav class="know-more-menu">
		<h4></h4>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
	<nav class="contacts">
		<h4></h4>
		<div class="icons">
			<a href="index.html"></a>
			<a href="index.html"></a>
			<a href="index.html"></a>
		</div>
		<div class="ul">
			<li class="footer-contacts-1"></li>
			<li class="footer-contacts-2"></li>
			<li class="footer-contacts-3"></li>
		</div>
		<a href="zayavka.html"></a>
	</nav>
</div>
<a class="footer-logo" href="index.html"></a>
</footer>