<section class="metrovka-blog">
	<div class="text-wrapper">
		<h2></h2>
		<p></p>
	</div>
	<div class="images">
		<div>
			<img src="" alt="">
			<div class="descr-text">
				<div class="category"></div>
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div>
			<img src="" alt="">
			<div class="descr-text">
				<div class="category"></div>
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div>
			<img src="" alt="">
			<div class="descr-text">
				<div class="category"></div>
				<h3></h3>
				<p></p>
			</div>
		</div>
	</div>
	<div class="blog-link"><a href="index.html"></a></div>
</section>