<section class="telegram">
	<div class="text-wrapper">
		<h2>Общайтесь в Telegram</h2>
		<p>Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.</p>
	</div>
	<div class="slider">
		<input type="radio" name="hidden-radio-point" id="telegram-radio-1">
		<input type="radio" name="hidden-radio-point" id="telegram-radio-2">
		<div class="wrapper-slider-buttons">
			<label for="telegram-radio-1" class="slider-buttons">Поиск недвижимости</label>
			<label for="telegram-radio-2" class="slider-buttons">Общение с клиентами</label>
		</div>
		<div class="slides">
		<div>
				<img class="iphone-img" src="img/iphone.png" alt="iphone">
		</div>
			<div class="telegram-window">
				<div class="title">
					<img src=" " alt="telegram">
					<a href="index.html"></a>
				</div>
				<h3></h3>
				<ol>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<a href="index.html"></a>
			</div>
		</div>
			<div class="point-controls">
				<label for="telegram-radio-1" class="slider-points"></label>
				<label for="telegram-radio-2" class="slider-points"></label>
			</div>
		</div>
	</section>