*{
	margin: 0;
	padding: 0;
}


$bcolor: rgba(90, 104, 114, .08);
body{
	background-color: $bcolor;
}
.telegram{
	width: 890px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-family: OpenSans;
	h2{	
		font-size: 24px;
		line-height: 1.33;
	}
	p{
		width:56%;
		margin: 0 auto;		
		line-height: 1.42;
	}
	.slider{
		input{display:none;}
		display: flex;
		align-items: center;
		label.slider-buttons{
			line-height: 1.22;
		}
	}
}